/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #cf8122;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  top: 0;
  padding: 0 20px;
}

.logo-nav-new {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  max-width: 140px;
  margin-right: 15px;
}

.logo-nav-new h1 {
  font-size: 28px;
  color: #faf0fd;
  margin: 0;
  white-space: nowrap;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  width: 60%;
}

.search-input {
  flex-grow: 1;
  width: 100%;
  height: 70%;
  margin: 10px 0;
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #4f1262;
  color: #111;
}

.search button[type="button"] {
  width: 50px;
  height: 40px;
  background-color: #6c1b85ff;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

/* Nav Options and Google Auth */
.nav-options {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hi-username {
  color: rgb(72, 15, 100);
  font-weight: 800;
  font-size: 19px;
  margin-right: 10px;
}

.logout-button {
  background-color: #71138d;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

/* Responsive Styles */
@media (max-width: 1190px) {
  .header {
    padding: 0 10px;
  }

  .logo img {
    height: 40px;
  }

  .logo-nav-new h1 {
    font-size: 22px;
  }

  .nav-right {
    gap: 10px;
  }

  .search {
    width: 100%;
  }

  .search-input {
    width: 80%;
  }

  .search button[type="button"] {
    width: 20%;
  }

  .nav-options {
    display: none;
    position: fixed;
    top: 80px;
    right: 0;
    width: 250px;
    background-color: #6c1b85ff;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }

  .nav-options.active {
    display: flex;
    transform: translateX(0);
  }

  .option {
    padding: 15px 0;
  }

  .mobile-menu {
    display: block;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }
}
